<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script> 
    <script defer type="text/javascript" src="/scripts/jquery.js"></script>
    <title>Real Estate</title>
</head>
<body>
    <div class="ui container">
        <%if(error && error.length>0){%>
            <div class="ui warning message">
                <i class="close icon"></i>
                <div class="header">
                    <span>Error!</span>
                </div>
                <p><%=error%></p>
            </div>
        <%}%>
        <%if(success && success.length>0){%>
            <div class="ui success message">
                <i class="close icon"></i>
                <div class="header">
                    <span>Success!</span>
                </div>
                <p><%=success%></p>
            </div>
        <%}%>
    </div>
    <div id="landing-header">
 		<h1>Welcome to Real Estate Application!</h1>
        <a href="/real-estates" class="ui inverted grey button">View All Properties</a>
    </div>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
